
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
      --primary-color: #ffffff;
      --secondary-color: #38e5b7;
    
  --shadow-neumorphic: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-neumorphic-inset: inset 0 2px 4px rgba(0, 0, 0, 0.06), inset 0 -2px 4px rgba(255, 255, 255, 0.5);
  --blur-glass: blur(12px);

  --font-classic: Georgia, serif;
  --backdrop-blur: 12px;
}

    html {
      scroll-behavior: smooth;
    }

    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
      width: 100%;
      overflow-x: hidden;
    }

    @layer utilities {
      .text-balance {
        text-wrap: balance;
      }
    }
  